body{
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%) !important;
    
}

 .btn{
     border-radius: 30px !important;
     border: none !important;
     padding: 10px 55px !important;
 }
 .btn:hover{
     background-color: hsl(300, 69%, 71%) !important;
     color: white !important;
 }
 .fab:hover{
     color: hsl(300, 69%, 71%) !important;
 }
 .border:hover{
     border-color: hsl(300, 69%, 71%) !important;
 }
 
.img1{
    width: 215px !important;
    height: 48px !important;
}
.img2{
     width: 620px;  
     /* max-width: 97% !important;  */
}
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
body{
    font-family: 'Open Sans',  sans-serif !important;
} */
@font-face{
    font-family: "my font1"; src: url("font/Poppins-Regular.ttf") format("woff");
}
@font-face{
    font-family: "my font2"; src: url("font/Poppins-SemiBold.ttf") format("woff");
}
h1{
    font-family: my font2 !important;
    width: 40vw !important;
    margin-top: 7vh !important;
}
p{
    width: 35vw !important;
}






  @media only screen and (max-width: 576px) {
.item{
    display: flex !important;
    flex-direction: column !important;
    /* flex-wrap: wrap !important; */
    text-align: center !important;
    align-items: center;
    
    
    
    }
.footer{
    display: flex;
    justify-content: center;
}
     
    
    .btn{
         padding: 10px 80px !important;
         margin-top: 15px !important;
         margin-bottom: 35px !important;
    }
     h1{
        font-size: 1.8rem !important;
        width: 100% !important;
    } 
    p{
        width: 83% !important;
    }
     

    body{
        background-image: url(images/bg-mobile.svg) !important;
         background-repeat: no-repeat !important;
        /* background-attachment: fixed !important; */
        background-position: top !important; 
    }
}  